<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Upload</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <!-- <form action="/signup" method="POST" enctype="multipart/form-data">
      <input type="text" placeholder="Enter your email" name="email">
      <br><br>
      <input type="text" placeholder="Enter your password" name="password">
      <br><br>
      <input type="file" name="profile">
      <br><br>
      <button>Sign Up</button>
    </form> -->

    <!-- <form action="/signup" method="POST" enctype="multipart/form-data">
      <input type="text" placeholder="Enter your email" name="email">
      <br><br>
      <input type="text" placeholder="Enter your password" name="password">
      <br><br>
      <input type="file" name="profile">
      <br><br>
      <input type="file" name="profile">
      <br><br>
      <button>Sign Up 2</button>
    </form> -->
    <form action="/signup" method="POST" enctype="multipart/form-data">
      <input type="text" placeholder="Enter your email" name="email">
      <br><br>
      <input type="text" placeholder="Enter your password" name="password">
      <br><br>
      <input type="file" name="chinh">
      <br><br>
      <input type="file" name="phu">
      <br><br>
      <input type="file" name="phu">
      <br><br>
      <button>Sign Up 3</button>
    </form>
  </body>
  <script src="reload/reload.js"></script>
</html>